<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div id="root">
            姓： <input type="text" v-model="firstName" /> <br />名：
            <input type="text" v-model="lastName" />
            <p>{{fullName}}</p>
            <p>{{fullName}}</p>
            <p>{{fullName}}</p>
            <p>{{fullName}}</p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            var vm = new Vue({
                el: "#root",
                data: {
                    firstName: "張",
                    lastName: "三",
                },
                computed: {
                    /*
                    完整寫法
                    fullName: {
                        get() {
                            console.log("get被調用");
                            return this.firstName + "-" + this.lastName;
                        },
                        set(value) {
                            console.log("set", value);
                            const result = value.split("-");
                            this.firstName = result[0];
                            this.lastName = result[1];
                        },
                    },
                    */
                    //簡寫
                    fullName() {
                        return this.firstName + "-" + this.lastName;
                    },
                },
            });
        </script>
    </body>
</html>
