<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div id="root">
            姓： <input type="text" v-model="firstName" /> <br />名：
            <input type="text" v-model="lastName" />
            <p>{{fullName}}</p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            var vm = new Vue({
                el: "#root",
                data: {
                    firstName: "張",
                    lastName: "三",
                    fullName: "張-三",
                },
                computed: {},
                watch: {
                    firstName: {
                        handler(val) {
                            /*
                            setTimeout(() => {});
                            這邊要寫成箭頭函式，不然寫成function(){}會指向window
                            */
                            setTimeout(() => {
                                console.log(this);
                                this.fullName = val + "-" + this.lastName;
                            }, 1000);
                        },
                    },
                    lastName: {
                        handler(val) {
                            this.fullName = this.firstName + "-" + val;
                        },
                    },
                },
            });
        </script>
    </body>
</html>
